@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.reticencias{
    font-family: "Nunito Sans", serif;
    font-size: 350px;
    font-weight: 100;    
}

:root {
    --tamanho-blur: 30rem;
    --white-ice-50: #3ea9df;
    --background-color--background-primary: var(--base-color-neutral--black);
    --base-color-neutral--white: white;
    --base-color-neutral--black: #131313;
    --text-color--text-primary: var(--base-color-neutral--black);
    --link-color--link-primary: var(--base-color-neutral--black);
    --base-color-brand--white: var(--base-color-neutral--white);
    --base-color-brand--black: var(--base-color-neutral--black);
    --base-color-neutral--bg-white: #eee;
    --pad80: 5.56rem;
    --base-color-neutral--grey50: #424242;
    --border-color--border-primary: var(--base-color-neutral--black);
    --border-button: .56rem;
    --base-color-neutral--grey80: #2b2b2b;
    --background-color--background-secondary: var(--base-color-neutral--white);
    --pad24: 1.67rem;
    --pad40: 2.78rem;
    --pad120: 8.33rem;
    --background-color--bg-pink: var(--base-color-neutral--pink);
    --link-color--link-alternate: var(--base-color-neutral--white);
    --background-color--bg-blue: var(--base-color-neutral--blue);
    --text-color--text-alternate: var(--base-color-neutral--white);
    --base-color-neutral--grey20: #bababa;
    --background-color--bg-green: var(--base-color-neutral--green);
    --text-color--text-success: var(--base-color-system--success-green);
    --background-color--bg-yellow: var(--base-color-neutral--yellow);
    --text-color--text-error: var(--base-color-system--error-red);
    --base-color-neutral--green: #8ddd8d;
    --pad-btn-check: 3.5rem;
    --border-button-check: 1.875rem;
    --base-color-neutral--pink: #faaafa;
    --base-color-neutral--yellow: #e0e055;
    --base-color-neutral--blue: #6066ee;
    --pad-btn-contact: var(--pad-btn-check);
    --base-color-neutral--grey25: #898989;
    --pad8: .5rem;
    --base-color-system--error-red: #b42318;
    --base-color-neutral--grey10: #d0d0d0;
    --base-color-system--success-green: #027a48;
    --base-color-system--success-green-light: #ecfdf3;
    --base-color-system--error-red-light: #fef3f2;
    --border-color--border-secondary: var(--base-color-neutral--yellow);
    --border-color--border-alternate: var(--base-color-neutral--white);
    --link-color--link-secondary: var(--base-color-neutral--yellow);
    --text-color--text-secondary: var(--base-color-neutral--black);
}

::-moz-selection {
    /* Code for Firefox */
    background: rgb(139, 139, 139);
}

::selection {
    background: rgb(139, 139, 139);
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid #1f1235;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(138, 138, 138, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(128, 128, 128, 0.6);
}

body {
    background-color: #0A0A0A !important;
    position: absolute !important;
    overflow-y: overlay !important;
    overflow-x: hidden !important;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif !important;
    /* font-family: 'Plus Jakarta Sans', sans-serif !important; */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.texto-cinza {
    color: #898989;
}

.texto-cinza-escuro {
    color: var(--bs-gray-900);
}


.custom-border-navitem {
    width: 210px;
    position: relative;
    border: 15px;
    border-right: 1px solid var(--base-color-neutral--grey50);
    border-left: 1px solid var(--base-color-neutral--grey50);
    border-radius: 13.89rem;
}

.custom-border {
    position: relative;
    border: 15px;
    border-right: 1px solid var(--base-color-neutral--grey50);
    border-left: 1px solid var(--base-color-neutral--grey50);
    border-radius: 13.89rem;
}


.card-projeto {
    min-height: 450px !important;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.conhecimentos-icon {
    font-size: 60px;
}

.fs-7 {
    font-size: 14px;
}

#conhecimentos {
    overflow-x: hidden !important;
    min-height: 80vh;
}

#main .blur {
    position: absolute;
    width: calc(var(--tamanho-blur) / 2);
    height: var(--tamanho-blur);
}

#main .blur:nth-child(1) {
    filter: blur(240vw);
    opacity: 0.8;
    top: 15%;
    left: calc(100vw - (var(--tamanho-blur) / 2));
    background: linear-gradient(132deg, #8ddd8d 0.00%, #8ddd8d 100.00%);
    border-radius: var(--tamanho-blur) 0 0 var(--tamanho-blur);
}

#main .blur:nth-child(2) {
    filter: blur(240vw);
    opacity: 0.6;
    top: 80%;
    right: calc(100vw - (var(--tamanho-blur) / 2));
    background: linear-gradient(132deg, #8ddd8d 0.00%, #8ddd8d 100.00%);
    border-radius: var(--tamanho-blur) 0 0 var(--tamanho-blur);
}

.green{
    color: #19a15285;
}