@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --white-ice-50: #f1f9fd;
}

::-moz-selection {
    /* Code for Firefox */
    background: rgb(139, 139, 139);
}

::selection {
    background: rgb(139, 139, 139);
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid #1f1235;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(138, 138, 138, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(128, 128, 128, 0.6);
}

body {
    overflow: overlay !important;
    margin: 0;
    /*font-family: 'Open Sans', sans-serif !important;*/
    font-family: 'Plus Jakarta Sans', sans-serif !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.fs-7 {
    font-size: calc(16px * 0.75) !important;
}

.titulo {
    cursor: default;
}

.icon-img {
    width: 150px;    
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
}

#csharp-icon {
    height: 120px;
}

#dotnet-icon {
    height: 105px;
}

#js-icon {
    height: 90px;
}

#bootstrap-icon {
    height: 105px;
}

#git-icon {
    height: 120px;
}

#mysql-icon {
    height: 150px;
}

#sqlserver-icon {
    height: 112px;
}

.vertical-icon {
    height: 80px;
}

#icon-name {
    transition: 0.5s !important;
}

#main,
#experiencia,
#contato {
    overflow: hidden !important;
    position: relative;
}

#main::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

#experiencia::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-image: url('img/bg-2.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
    /*filter: brightness(40%) grayscale(0.2);*/
    z-index: -1;
}

#contato::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    /*background-image: url('https://images.pexels.com/photos/3780106/pexels-photo-3780106.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
    /*background-image: url('https://images.pexels.com/photos/32997/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');*/
    background-image: url('img/bg-3.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
    z-index: -1;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#conhecimentos {
    background-color: var(--white-ice-50) !important;
}

#projetos {
    background-color: var(--white-ice-50) !important;
}


.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.experiencia-descricao {
    font-size: 2.25rem;
}


.experiencia-empresa {
    font-size: 1rem;
}

.experiencia-subtitulo {
    font-size: 1.25rem;
}

.experiencia-descricao {
    font-size: 1rem;
}

@media (min-width: 576px) {
    /*sm*/

    .experiencia-empresa {
        font-size: 2rem;
    }

    .experiencia-subtitulo {
        font-size: 1rem;
    }

    .experiencia-descricao {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {

    /*md*/
    .experiencia-empresa {
        font-size: 2.5rem;
    }

    .experiencia-subtitulo {
        font-size: 1.25rem;
    }

    .experiencia-descricao {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {

    /*lg*/
    .experiencia-empresa {
        font-size: 3rem;
    }

    .experiencia-subtitulo {
        font-size: 1.5rem;
    }

    .experiencia-descricao {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {

    /*xl*/
    .projetos-titulo,
    .projetos-subtitulo {
        font-size: 1.25rem;
    }

    .projetos-descricao {
        font-size: 1rem;
    }

    .experiencia-empresa {
        font-size: 2.5rem;
    }

    .experiencia-subtitulo {
        font-size: 1.25rem;
    }

    .experiencia-descricao {
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {

    /*xxl*/
    .projetos-titulo {
        font-size: 1.75rem;
    }

    .projetos-subtitulo {
        font-size: 1.5rem;
    }

    .projetos-descricao {
        font-size: 1.5rem;
    }

    .experiencia-subtitulo {
        font-size: 1.75rem;
    }

    .experiencia-descricao {
        font-size: 1.25rem;
    }
}


.diagonal-background {
    background: linear-gradient(45deg,
            transparent 10%,
            grey 10% 20%,
            transparent 20% 30%,
            grey 30% 40%,
            transparent 40% 50%,
            grey 50% 60%,
            transparent 60% 70%,
            grey 70% 80%,
            transparent 80% 90%);
}