.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    width: calc(210px * 14);
    animation: scroll 14s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translatex(calc(-210px * 7));
    }
}

.slide-track:hover {
    /*animation-play-state: paused;*/
}

.slider::before {
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(241, 249, 253, 1) 0%, rgba(241, 249, 253, 0) 100%);
}

.slider::after {
    top: 0;
    right: 0;
    background: linear-gradient(to left, rgba(241, 249, 253, 1) 0%, rgba(241, 249, 253, 0) 100%);
}


.slider::before,
.slider::after {
    content: " ";
    position: absolute;
    z-index: 9;
    width: 50px;
    height: 100%;
}


@media screen and (min-width: 768px) {
    .slider::before,
    .slider::after {
        content: " ";
        position: absolute;
        z-index: 9;
        width: 250px;
        height: 100%;
    }
}

.slide-conhecimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 250px;
    padding: 15px;
}